<form class="form-horizontal form-validate form-modal" method="post" action="{:url('tabbar')}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{$row['id'] > 0?'编辑底部菜单':'添加底部菜单'}</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">菜单名称</label>
          <div class="col-sm-3 must">
            <input name="title" class="input-large" type="text" value="{$row.title}">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">图标</label>
          <div class="col-sm-8 must">
            <div class="col-sm-3 ">
                <div class="text-center">未选</div>
                <div class="defUpImgBox" data-toggle="uploaderImg">
                  <img id="img_imgurl" src="{$row.imgurl|default='__STATIC__/main/img/image.png'}">
                  <input id="input_imgurl" type="hidden"  name="imgurl"  value="{$row.imgurl}">
                  <div class="tips">点击上传</div>
                </div>
             </div>
            <div class="col-sm-3 ">
                <div class="text-center">已选</div>
                <div class="defUpImgBox" data-toggle="uploaderImg">
                  <img id="img_imgurl_sel" src="{$row.imgurl_sel|default='__STATIC__/main/img/image.png'}">
                  <input id="input_imgurl_sel" type="hidden"  name="imgurl_sel"  value="{$row.imgurl_sel}">
                  <div class="tips">点击上传</div>
                </div>
            </div>
            <div class="help-inline">图片尺寸：100*100像素</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">是否启用</label>
          <div class="col-sm-3 ">
            <label class=" inline">
              <input type="radio" name="status" value="1" {$row['status']|tplckval=1,'checked',true}
              />
              是
            </label>
            <label class=" inline">
              <input type="radio" name="status" value="2" {$row['status']|tplckval=2,'checked'}/>
              否
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">排序</label>
          <div class="col-sm-8">
            <input type="text" name="sort_order" id="sort_order" value="{$row.sort_order|intval}"
                   data-rule-required="true" data-rule-maxlength="30" class="input-mini">
            <span class="help-inline">（数字越大越靠前）</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">绑定URL</label>
          <div class="col-sm-10 must" id="bind_url_box">
            <input name="data" id="data"  class="input-xlarge" type="hidden"  value="{$row.data}">
            <input name="url" id="url" class="input-xlarge" type="text" value="{$row.url}">
            <a href="javascript:;"
               data-remote="{:url('publics/sys_admin.links/index',['linksfun'=>'assigBack'])}"
               data-toggle="ajaxModal" data-childwin="selUrl" class="type_bding_btn btn btn-sm btn-default" id="links_btn">绑定URL</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" name="id" value="{$row.id|intval}"/>
        <button type="submit" class="btn btn-primary" data-loading-text="保存中..." disabled>保存</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</form>