<table class="table  table-hover  m-b-none">
<thead>
<tr>
    <th width="160" class="th-sortable" data-sort-name="change_time">变动时间</th>
    <th width="200">余额/变更后</th>
    <th width="200">货款/变更后</th>
    <th width="200" >保证金/变更后</th>
    <th  >备注</th>
</tr>
</thead>
<tr>
{volist name="data.list" id="row" }
<tr>
    <td >{$row.change_time|dateTpl}</td>
    <td style="{$row['balance_money']>0?'color:#F00;':''} {$row['balance_money']<0?'color:#390;':''}">{$row.balance_money} / {$row['balance_money']+$row['old_balance_money']}</td>
    <td style="{$row['goods_money']>0?'color:#F00;':''} {$row['goods_money']<0?'color:#390;':''}">{$row.goods_money} / {$row['goods_money']+$row['old_goods_money']}</td>
    <td style="{$row['earnest_money']>0?'color:#F00;':''} {$row['earnest_money']<0?'color:#390;':''}" >{$row.earnest_money} / {$row['earnest_money']+$row['old_earnest_money']}</td>
        <td>
            变动原因：{eq name="row.change_type" value="1"} <i class="fa fa-laptop text-muted"></i>人工调整：{/eq}
            {$row.change_desc}
            {if condition="$row['change_type'] == 2"}
                {if condition="$row['uplevel_goods_money'] < 0"}
                    <a href="{:url('shop/sys_admin.order/info',['order_id'=>$row['by_id']])}" target="_blank">【查看订单】</a>
                {else}
                    <a href="{:url('channel/sys_admin.order/info',['order_id'=>$row['by_id']])}" target="_blank">【查看订单】</a>
                {/if}
            {/if}
        </td>
    </tr>
{/volist}
</tbody>
</table>
{empty name="data.list"}
<table width="100%" >
 	<tr><td height="300" colspan="8" align="center" valign="middle" >没有相关数据！</td></tr>
</table>
{/empty}