<table class="table  table-hover  m-b-none">
<thead>
<tr>
	<th width="90" class="th-sortable" data-sort-name="u.user_id">UID</th>
    <th width="120">注册手机</th>
    <th width="100">真实姓名</th>
    <th width="120">身份证号</th>
    <th width="120">身份证正面</th>
    <th width="120">身份证背面</th>
    <th width="150">会员身份</th>
    <th width="80">操作</th>
</tr>
</thead>
<tbody>

{volist name="data.list" id="vo" }
<tr class="image-list">
    <td>{$vo.user_id}</td>
    <td>{$vo.mobile}</td>
    <td>{$vo.real_name}</td>
    <td>{$vo.id_card_number}</td>
    <td>
        {if condition="$vo.id_card_positive"}
        <img src="{$vo.id_card_positive}" style="max-height: 100px;">
        {/if}
    </td>
    <td>
        {if condition="$vo.id_card_back"}
        <img src="{$vo.id_card_back}" style="max-height: 100px;">
        {/if}
    </td>
    <td>{$roleList[$vo['role_id']]['role_name']}</td>

    <td>
        <a href="{:url('sys_admin.users/info',array('user_id'=>$vo['user_id']))}" class="m-xs" title="查看">
            <i class="fa fa-search"></i>查看
        </a>
        <a href="{:url('check',array('user_id'=>$vo['user_id']))}"  data-toggle="ajaxModal" class="m-xs" title="审核">
            <i class="fa fa-edit"></i>审核
        </a>

    </td>
</tr>

{/volist} 
</tbody>
</table>
{empty name="data.list"}
<table width="100%" >
 	<tr><td height="300" colspan="8" align="center" valign="middle" >没有相关数据！</td></tr>
</table>
{/empty}  