<form class="form-horizontal form-validate form-modal" method="post" action="{:url($user_id<1?'add':'edit')}">
    <div class="modal-dialog" style="width:950px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{$user_id<1?'添加区域代理':'修改区域代理'}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">指定用户：</label>
                    {if condition="$user_id > 0"}
                    <div class="col-sm-9 m-t-md" >
                        {$user_id} - {$user_id|userInfo}
                        <input type="hidden" name="user_id" value="{$user_id}">
                    </div>
                    {else}
                    <div class="col-sm-9 " >
                        <input type="text" class="input-small"  id="user_keyword" value="" style="width:120px;" /> <a href="javascript:;" class="m-xs" title="查看"  onclick="searchuser('user_keyword','select_user');"><i class="fa fa-search text-muted"></i></a>
                        <select id="select_user" name="select_user"  style="width: 180px; " >
                            <option value="">选择用户</option>
                        </select>
                    </div>
                    {/if}
                </div>
                <div id="region_box" style="margin-top: 20px;">

                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-loading-text="保存中..." disabled>保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    setTimeout(function (){
        open_region('{$sel_region}','{$other_sel_region}');
    },100);
</script>