<table class="table  table-hover  m-b-none">
<thead>
<tr>
    <th>奖项名称</th>
    <th>奖励金额</th>
    <th>奖励会员</th>
    <th>奖励会员身份</th>
    <th>处理状态</th>
    <th>产生时间</th>
</tr>
</thead>
<tbody>
{volist name="data.list" id="vo" }
<tr>
    <td>{$vo.reward_name}<span class="fa fa-question-circle reward_info_btn" data-id="{$vo.id}"></span></td>
    <td>{$vo.reward_money}</td>
    <td>{$vo.to_uid}-{$vo.to_uid|userInfo=true,'real_name'}</td>
    <td>{$roleList[$vo['to_role_id']]['role_name']}</td>
    <td>{$status[$vo['status']]}</td>
    <td>{$vo.add_time|dateTpl}</td>
</tr>
<tr id="reward_info_{$vo.id}" style="display: none; background-color: #ccc;">
    <td colspan="18" >
        奖励详情：{$vo.reward_info}
    </td>
</tr>
{/volist} 
</tbody>
</table>
{empty name="data.list"}
<table width="100%" >
 	<tr><td height="300" colspan="8" align="center" valign="middle" >没有相关数据.</td></tr>
</table>
{/empty}   